<div class="jumbotron">
  <div class="container">
    <h1>Bugs.txt</h1>
    <p>Distributed bug tracker<p>
      
  </div>
</div>

<div class="container">
  <p><i class=" glyphicon glyphicon-copyright-mark"></i> 2014 Miron Brezuleanu</p>
  <p>Bugs.txt tracks bugs stored in text files. The text files are
    versioned by your version control system
    (<a href="http://git-scm.com/">Git</a>, in my case). The bugs
    are stored in a simple, merge-friendly format. A simple web
    interface is provided for adding and editing bugs.</p>
</div>
